* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

/* Body Contents */

/* Header */

#containerHeader {
    background-color: #fff;
}

header {
    padding: 0.5% 1% 0.5% 1%;
}

/* Logo */
#containerHeader img {
    min-width: 1%;
    vertical-align: middle;
}

/* Company name */
#containerHeader span {
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
}

/* Main */
main {
    background-color: #fff;
    height: 90%;
    width: 70%;
    margin: 2% auto;
}

/* Buttons */
.sectionBtn {
    padding: 1% 7% 1% 7%;
}

.customBtn {
    padding: 9px 20px;
    border-radius: 5px;
    border: solid 1px #bebebe;
    font-size: 15px;
    font-weight: bold;
    color: #bebebe;
}

#activeBtn {
    color: #fff;
    background-color: #47acee;
}

/* Main */