* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

/* Body Contents */

/* Header */

#containerHeader {
    background-color: #fff;
}

header {
    padding: 0.5% 1% 0.5% 1%;
}

/* Logo */
#containerHeader img {
    min-width: 1%;
    vertical-align: middle;
}

/* Company name */
#containerHeader span {
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
}

/* Main */
main {
    background-color: #fff;
    height: 90%;
    width: 70%;
    margin: 2% auto;
}

#containerMain {
    padding-bottom: 3%;
}

/* Buttons */
.sectionBtn {
    padding: 2% 7% 1% 7%;
}

.customBtn {
    padding: 9px 20px;
    border-radius: 5px;
    border: solid 1px #bebebe;
    font-size: 15px;
    font-weight: bold;
    color: #bebebe;
}

#activeBtn {
    color: #fff;
    background-color: #47acee;
}

/* Todo list */
.sectionTodo {
    padding: 4% 7% 0% 7%;
    font-size: 15px;
}

.taskGroup {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.pointingTriangle:before {
    content: '\25BE';
 }
 
.taskName {
    display: block;
    padding-top: 1%;
    padding-bottom: 2%;
}

/* classes for checked/unchecked task */
.checkedBox:before {
    content: '\2705';
}

.uncheckedBox:before {
    content: '\274C';
}

/* task keywords */
.editorial {
    background-color: #47acee;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}

.q1Goals {
    background-color: #9b76e0;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}

.recruiting {
    background-color: #5ec5a9;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}

.mobile {
    background-color: #efa429;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}

.website {
    background-color: #d764a8;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}

.sales {
    background-color: #b0c92f;
    border-radius: 50px;
    padding: 0.5% 1%;
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-left: 1%;
}
/* Main */